#gallery{
  clear:right;
}

.sim-slider{
  max-width: 1920px;
}

.sim-slider-list{
  display: flex;
  list-style: none;
  margin-left: 32px;
  padding-left: 0;
}

.sim-slider-element{
  width: 30%;
  margin-left: 15px;
}

.sim-slider-element:nth-of-type(1) {
  margin-left: 0;
}

.sim-slider-element img{
  width: 100%;
}

