.header {
    position: relative;
    height: 100vh;
    min-height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../img/fon.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: #8fc7ff;
}

/* Это для плавного перехода между картинкой и секцией About */
.header .overlay {
    /* Допишите */
    background-image: -webkit-linear-gradient(bottom, #fff 0%, rgba(105, 90, 166, 0.35) 99%, rgba(105, 90, 166, 0.5) 100%);
    background-image: linear-gradient(to top, #141352 0%, rgba(105, 90, 166, 0.35) 99%, rgba(105, 90, 166, 0.5) 100%);
}