@charset "UTF-8";

body {
    margin: 0;
    background-color: #ffffff;
    font-family: "Montserrat";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #769efb;
    text-align: left;
    /* height: 10000px; */
}

.container {
    max-width: 1140px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    color: #8fc7ff;
    line-height: 1.2;
    font-size: 4rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 1rem;
}
/*calc(0.5rem + (1rem - 0.5rem) * ((100vw - 320px) / (1920 - 320)));*/
p {
    font-size: 30px;
    font-weight: 400;
    opacity: 1;
    color: #769efb;
    letter-spacing: .9px;
    margin-top: 0;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 1.5rem;
}

.text-box{
    font-size: 2rem;
    color:#769efb;
    margin-top: 0;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 1rem;
}

input, button, select, optgroup, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button, [type="button"], [type="reset"], [type="submit"] {
    -webkit-appearance: button;
}

.btn {
    display: inline-block;
    font-weight: 200;
    text-decoration: none;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
    vertical-align: middle;
    background-color: #769efb;
    padding: 0.5rem 1.5rem;
    font-size: 1.5rem;
    line-height: 1.5;
    border-radius: 5rem;
    -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn:hover {
    color: #fff;
    background-color: #6188e3;
}
  
.btn:focus, .btn.focus {
    box-shadow: 0 0 0 0.2rem rgba(100, 86, 255, 0.416);
}

.btn:active {
    background-color: #4553ab;
}

.section {
    padding: 70px 10px;
}
